/* Board.css */
.board {
  display: inline-block;
  border: 2px solid #333;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #444;
  background-color: #000;
}

.cell.filled {
  border: 2px solid #e4d9d9;
}